# Dependencies
frontend/node_modules/
backend/node_modules/
backend/vendor/

# Environment files
frontend/.env
frontend/.env.*
backend/.env
backend/.env.*

# Build files
frontend/dist/
frontend/build/

# Laravel
backend/storage/logs/*
backend/storage/framework/cache/*
backend/storage/framework/sessions/*
backend/storage/framework/views/*

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db